{% load static %}
<footer class="container-fluid footer">
    <div class="container">
        <div class="footer-channels">
            <ul>
                <li><strong>Canais de Atendimento</strong></li>
                <li><span>E-Mail:</span> rradioifrnspp@gmail.com</li>
                <li><span>Endereço:</span> Av. Potengi, São Paulo do Potengi - RN, 59460-000</li>
            </ul>
        </div>
        <div class="footer-socials">
            <h3>Redes Sociais</h3>
            <div class="social-icons">
                    <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
</footer>